/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
  /* Start of "Micro clearfix" */
  
  .cf {
    zoom: 1;
  }
  .cf:before,
  .cf:after {
    content: "";
    display: table;
  }
  .cf:after {
    clear: both;
  }
  
  /* End of "Micro clearfix" */
  

  
  main {
    width: 956px;
    margin: 20px auto;
    border: 1px solid #000;
    /* background-image: url("../img/grid.png"); */
  }
  
  header.primary {
    width: 95.86%;
    margin: 2.18%;
    background-color: rgba(0, 0, 0, 0.4);
    float: right;
    padding: 2.09%;
  }
  
  #blog {
    width: 71.34%;
    background-color: rgba(0, 0, 0, 0.4);
    float: right;
    margin-right: 2.09%;
    padding: 2.09%;
  }
  
  aside {
    width: 22.38%;
    float: right;
    background-color: rgba(0, 0, 0, 0.4);
    margin-right: 2.09%;
    padding: 2.09%;
  }
  footer.primary {
    width: 95.86%;
    margin: 2.18%;
    background-color: rgba(0, 0, 0, 0.4);
    float: right;
    padding: 2.09%;
  }
  