/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
  /* Start of "Micro clearfix" */
  
  .cf {
    zoom: 1;
  }
  .cf:before,
  .cf:after {
    content: "";
    display: table;
  }
  .cf:after {
    clear: both;
  }
  
  /* End of "Micro clearfix" */
  

  
  main {
    width: 956px;
    margin: 20px auto;
    border: 1px solid #000;
    background-image: url("../img/grid.png");
  }
  
  header.primary {
    width: 916px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    float: right;
    padding: 20px;
  }
  
  #blog {
    width: 682px;
    background-color: rgba(0, 0, 0, 0.4);
    float: right;
    margin-right: 20px;
    padding: 20px;
  }
  
  aside {
    width: 214px;
    float: right;
    background-color: rgba(0, 0, 0, 0.4);
    margin-right: 20px;
    padding: 20px 20px 14px 20px;
  }
  footer.primary {
    width: 916px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    float: right;
    padding: 20px;
  }
  